.earth {
  transform: rotate(23.44deg);
  width: 400px;
  height: 400px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.shadow {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: -20px -20px 50px 10px #000 inset, 0 0 20px 2px #000;
}

.earth > .earthDiv {
  position: absolute;
  width: 3000px;
  height: 400px;
  animation: spinEarth 70s linear normal infinite;
  background: url('../public/earth.jpeg');
  background-repeat: repeat-x;
}

.earth > .cloudDiv {
  width: 2400px;
  height: 400px;
  animation: spinClouds 80s linear normal infinite;
  background: url('../public/clouds.png');
  background-repeat: repeat-x;
  opacity: .5;
}

@keyframes spinEarth {
  to {
    transform: translateX(-1000px);
  }
}

@keyframes spinClouds {
  to {
    transform: translateX(-800px);
  }
}