.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: x-large;
}

.instructions {
  list-style-type:decimal;
  margin-bottom: 50px;
}

.main {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.earthBlurb {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.divider {
  margin-top: 200px;
  margin-bottom: 50px;
  min-width: 60vw;
  border-bottom: 4px double white;
}

.readme {
  width: 80%;
  min-width: 300px;
}

.readme > p {
  font-size: x-large;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
