.container {
  margin-top: 70px;
  min-height: 100vh;
  min-width: 400px;
  max-width: 80vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.iconTd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 97, 206);
}

.iconImg {
  height: fit-content;
  width: fit-content;
}

.main {
  font-weight: 600;
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}